.main {
  margin: 0 auto;
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

body {
  text-align: center;
  font-family: sans-serif;
}

th,
td,
tr {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}
